.mmap__responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map__responsive iframe{
    left:0;
    top:0;
    height:40vw;
    width:100%;
}

.oeuvres-section__before-title::before {
    display: block;
    content:"Test de titre";
}
.oeuvres-section__container {
    margin: 4rem $margin-row-general;
    // h2 {
    //     position: relative;
    //     top: -2rem;
    //     left: 1rem;
    //     z-index: -1;
    //{
}

// .oeuvre-article-notitle {
//     margin-top: $margin-top-h2-heigh-size;
// }
.oeuvres-section__flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 1.8rem;
}
.oeuvres-section__article-figure {
    max-width: 16rem;
}